<section class="translations">
  <!-- ElifireAdUnits -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4086762240008321"
    data-ad-slot="8523148039"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- END ElifireAdUnits -->
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <div class="song-lyr">
    <div class="title">song - song song</div>
    <div class="options">
      <div class="download">↓ Download</div>
      <div class="preview">👁 Priview</div>
    </div>
  </div>
  <!-- ElifireAdUnits -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4086762240008321"
    data-ad-slot="8523148039"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- END ElifireAdUnits -->
</section>
