<p class="lan heb">
  שלום! אני מיכאל אליפייר, זמר ומתרגם שמכניס חיים חדשים לשירים על ידי תרגומם
  לעברית. המסע המוזיקלי שלי היה חוויה עמוקה ומרגשת, שאפשרה לי להעניק למנגינות
  ולמילים הנוגעות ללב רעננות מחודשת. אני מאמין בכוח הטרנסצנדנטי של המוזיקה לגשר
  על תרבויות, לאחד אנשים ולחבר בין מדינות. באמצעות התרגומים והביצועים שלי, אני
  שואף לבנות גשרים בין קהילות מגוונות, לטפח הבנה והערכה עמוקה יותר לאנושיות
  המשותפת שלנו. המוזיקה שלי היא מארג של סיפורים, רגשות וחוויות המהדהדים בקרב
  מאזינים מכל תחומי החיים. בין אם אתם נמשכים לפרשנויות הנשמה של הקלאסיקות
  האהובות או לביצועים החדשניים של להיטים עכשוויים, המטרה שלי היא להביא לכם שמחה
  ותחושת חיבור בכל תו.
</p>
