<section class="songs">
  <div class="count">
    <span class="onNow">{{ ActiveIframe + 1 }}</span> /
    {{ listOfActiveIframe.length }}
  </div>
  <iframe
    *ngIf="listOfActiveIframe[0]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/Mur0znEB7RQ"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[1]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/ueVfEK9AjW4"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[2]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/zGijUgvL-xM"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[3]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/wlPb5GbBT4o"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[4]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/nJYz3vegWkc"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[5]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/p1HPis8eTB4"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[6]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/aZ65DBnD-Ec"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[7]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/Vqsq0HA3Y_w"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[8]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/2WujK2LcV4I"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[9]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/Temse6ZxtRg"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[10]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/zq7OFWB9Na8"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[11]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/iOFEfpcvahM"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[12]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/rfxMXhknN8U"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[13]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/BBOc5yn07gk"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[14]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/wSNkMoenCAU"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <iframe
    *ngIf="listOfActiveIframe[15]"
    [width]="isMobile ? '360' : '640'"
    [height]="isMobile ? '180' : '360'"
    src="https://www.youtube.com/embed/lM9IX6mJyFCVqB-y"
    title="YouTube video player"
    frameborder="1"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
  <div class="selection-section">
    <button (click)="prev()">prev</button>
    <button (click)="next()">next</button>
  </div>

  <a
    class="title"
    (click)="navTo('support-artist')"
    (click)="navTo('support-artist')"
    >- Support Artist -</a
  >
</section>
